workflow.json
{
  "name": "Email Cleaner & Organizer (Legacy Compatible)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 30
            }
          ]
        }
      },
      "name": "Alle 30 Min",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        240,
        300
      ],
      "id": "trigger-schedule"
    },
    {
      "parameters": {
        "format": "resolved"
      },
      "name": "Yahoo Read",
      "type": "n8n-nodes-base.emailReadImap",
      "typeVersion": 1,
      "position": [
        460,
        200
      ],
      "id": "yahoo-imap"
    },
    {
      "parameters": {
        "format": "resolved"
      },
      "name": "AOL Read",
      "type": "n8n-nodes-base.emailReadImap",
      "typeVersion": 1,
      "position": [
        460,
        400
      ],
      "id": "aol-imap"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "content",
              "value": "Finance"
            }
          ]
        }
      },
      "name": "AI Classify (Placeholder)",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        680,
        300
      ],
      "id": "ai-classify"
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{$node[\"AI Classify (Placeholder)\"].json[\"content\"]}}",
        "rules": {
          "rules": [
            {
              "value2": "Finance"
            },
            {
              "value2": "Newsletter",
              "output": 1
            },
            {
              "value2": "Social",
              "output": 2
            },
            {
              "value2": "Junk",
              "output": 3
            }
          ]
        },
        "fallbackOutput": 4
      },
      "name": "Switch Category",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        880,
        300
      ],
      "id": "switch-category"
    },
    {
      "parameters": {},
      "name": "Move to Finance",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1100,
        100
      ],
      "id": "move-finance"
    },
    {
      "parameters": {},
      "name": "Move to Newsletter",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1100,
        240
      ],
      "id": "move-newsletter"
    },
    {
      "parameters": {},
      "name": "Delete Junk",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1100,
        380
      ],
      "id": "delete-junk"
    }
  ],
  "connections": {
    "Alle 30 Min": {
      "main": [
        [
          {
            "node": "Yahoo Read",
            "type": "main",
            "index": 0
          },
          {
            "node": "AOL Read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Yahoo Read": {
      "main": [
        [
          {
            "node": "AI Classify (Placeholder)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AOL Read": {
      "main": [
        [
          {
            "node": "AI Classify (Placeholder)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Classify (Placeholder)": {
      "main": [
        [
          {
            "node": "Switch Category",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Category": {
      "main": [
        [
          {
            "node": "Move to Finance",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Move to Newsletter",
            "type": "main",
            "index": 0
          }
        ],
        [],
        [
          {
            "node": "Delete Junk",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  }
}